.list {
  background-color: rgb(134, 204, 152);
  padding: 10px;
  width: 300px;
  margin: 10px;
  height: 50px;
  border-radius: 13px;
}
.list p {
  position: relative;
  padding: 10px;
  font-size: 20px;
}
.list p span {
  position: absolute;
  right: 10px;
  font-size: 25px;
  bottom: 15px;
}

.list p span:hover {
  cursor: pointer;
}
